{:layers [{:id :props, :source :rulebase}
  {:id :clara.tools.graph.analyze/generated,
   :source {:generated-by "clara-rules-explorer", :rule-count 18}}
  {:id :memory,
   :source {:generated-by "clara-rules-explorer",
    :derived-from "session working memory",
    :rule-count 4}}],
 :verbatim {:default :clara.tools.graph.analyze/generated, :except {}},
 :annotations {"clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved?" {:clara-rules/insert-types [clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome],
   :clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "(map->ApplicationOutcome {:app-id ?app-id, :status :approved, :message \"Application approved\", :passed-checks [{:check-type :document} {:check-type :identity} {:check-type :fraud}]})",
      :ns-name-sym clara.server.tools.graph.rules.loan-app-rules,
      :filename "clara/server/tools/graph/rules/loan_app_rules.clj",
      :status :full,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved?},
      :resolved-types [clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome],
      :callsite-id "clara.server.tools.graph.rules.loan-app-rules:-:9e76bcc7:0",
      :from-layer :clara.tools.graph.analyze/generated}],
    :resolution :full}},
  "clara.server.tools.graph.rules.loan-app-rules/app-outcome-denied?" {:clara-rules/insert-types [clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome],
   :clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "(map->ApplicationOutcome {:app-id ?app-id, :status :denied, :message \"Application denied\", :passed-checks passed-checks, :failed-checks failed-checks})",
      :ns-name-sym clara.server.tools.graph.rules.loan-app-rules,
      :filename "clara/server/tools/graph/rules/loan_app_rules.clj",
      :status :full,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.server.tools.graph.rules.loan-app-rules/app-outcome-denied?},
      :resolved-types [clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome],
      :callsite-id "clara.server.tools.graph.rules.loan-app-rules:-:97ed1a9a:0",
      :from-layer :clara.tools.graph.analyze/generated}],
    :resolution :full}},
  "clara.server.tools.graph.rules.loan-app-rules/app-outcome-pending?" {:clara-rules/insert-types [clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome],
   :clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "(map->ApplicationOutcome {:app-id ?app-id, :status :pending, :message \"Application pending\", :checks-complete checks-complete, :checks-incomplete checks-incomplete})",
      :ns-name-sym clara.server.tools.graph.rules.loan-app-rules,
      :filename "clara/server/tools/graph/rules/loan_app_rules.clj",
      :status :full,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.server.tools.graph.rules.loan-app-rules/app-outcome-pending?},
      :resolved-types [clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome],
      :callsite-id "clara.server.tools.graph.rules.loan-app-rules:-:7f31aeea:0",
      :from-layer :clara.tools.graph.analyze/generated}],
    :resolution :full}},
  "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count" {:clara-rules/insert-types [:doc-check-count],
   :clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "(with-meta {:count ?count} {:type :doc-check-count})",
      :ns-name-sym clara.server.tools.graph.rules.loan-doc-rules,
      :filename "clara/server/tools/graph/rules/loan_doc_rules.clj",
      :status :none,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.server.tools.graph.rules.loan-doc-rules/doc-check-count},
      :callsite-id "clara.server.tools.graph.rules.loan-doc-rules:-:36d28b33:0",
      :from-layer :clara.tools.graph.analyze/generated}],
    :resolution :none}},
  "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count-satisfies-min" {:clara-rules/insert-types [:doc-check-count-satisfies-min],
   :clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "(with-meta {:count ?count} {:type :doc-check-count-satisfies-min})",
      :ns-name-sym clara.server.tools.graph.rules.loan-doc-rules,
      :filename "clara/server/tools/graph/rules/loan_doc_rules.clj",
      :status :none,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.server.tools.graph.rules.loan-doc-rules/doc-check-count-satisfies-min},
      :callsite-id "clara.server.tools.graph.rules.loan-doc-rules:-:374ae343:0",
      :from-layer :clara.tools.graph.analyze/generated}],
    :resolution :none}},
  "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-audit-trail" {:clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "(build-audit-trail-entry ?app-id :doc-check-passed)",
      :ns-name-sym clara.server.tools.graph.rules.loan-doc-rules,
      :filename "clara/server/tools/graph/rules/loan_doc_rules.clj",
      :status :none,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-audit-trail},
      :callsite-id "clara.server.tools.graph.rules.loan-doc-rules:-:965c8524:0",
      :from-layer :clara.tools.graph.analyze/generated}],
    :fact-instance-derived-types [clara.server.tools.graph.rules.loan_doc_rules.AuditTrail],
    :resolution :none},
   :clara-rules/insert-types [clara.server.tools.graph.rules.loan_doc_rules.AuditTrail]},
  "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-metadata" {:clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "(build-compliance-via-metadata ?app-id)",
      :ns-name-sym clara.server.tools.graph.rules.loan-doc-rules,
      :filename "clara/server/tools/graph/rules/loan_doc_rules.clj",
      :status :none,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-metadata},
      :callsite-id "clara.server.tools.graph.rules.loan-doc-rules:-:88bcf7ba:0",
      :from-layer :clara.tools.graph.analyze/generated}],
    :fact-instance-derived-types [:compliance-review-result],
    :resolution :none},
   :clara-rules/insert-types [:compliance-review-result]},
  "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-review" {:clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "(build-compliance-review ?app-id)",
      :ns-name-sym clara.server.tools.graph.rules.loan-doc-rules,
      :filename "clara/server/tools/graph/rules/loan_doc_rules.clj",
      :status :none,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-review},
      :callsite-id "clara.server.tools.graph.rules.loan-doc-rules:-:c6a16f6e:0",
      :from-layer :clara.tools.graph.analyze/generated}],
    :fact-instance-derived-types [clara.server.tools.graph.rules.loan_doc_rules.ComplianceReview],
    :resolution :none},
   :clara-rules/insert-types [clara.server.tools.graph.rules.loan_doc_rules.ComplianceReview]},
  "clara.server.tools.graph.rules.loan-doc-rules/extract-doc-meta-rule" {:clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "resolved__48151__auto__",
      :ns-name-sym clara.server.tools.graph.rules.loan-doc-rules,
      :filename "clara/server/tools/graph/rules/loan_doc_rules.clj",
      :status :none,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.server.tools.graph.rules.loan-doc-rules/extract-doc-meta-rule},
      :callsite-id "clara.server.tools.graph.rules.loan-doc-rules:-:88827bd7:0",
      :from-layer :clara.tools.graph.analyze/generated}],
    :fact-instance-derived-types [:extract-doc-meta],
    :resolution :none},
   :clara-rules/insert-types [:extract-doc-meta]}},
 :provenance {:verbatim {:clara-rules/dynamic-insert-types-detected [:clara.tools.graph.analyze/generated],
   :clara-rules/dynamic-retract-types-detected [:clara.tools.graph.analyze/generated],
   :clara-rules/insert-types [:clara.tools.graph.analyze/generated],
   :clara-rules/no-output-types :clara.tools.graph.analyze/generated,
   :clara-rules/retract-types [:clara.tools.graph.analyze/generated]},
  :except {"clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved?" {:clara-rules/dynamic-insert-types-detected [:clara.tools.graph.analyze/generated],
    :clara-rules/insert-types [:props :clara.tools.graph.analyze/generated]},
   "clara.server.tools.graph.rules.loan-app-rules/app-outcome-denied?" {:clara-rules/dynamic-insert-types-detected [:clara.tools.graph.analyze/generated],
    :clara-rules/insert-types [:props :clara.tools.graph.analyze/generated]},
   "clara.server.tools.graph.rules.loan-app-rules/app-outcome-pending?" {:clara-rules/dynamic-insert-types-detected [:clara.tools.graph.analyze/generated],
    :clara-rules/insert-types [:props :clara.tools.graph.analyze/generated]},
   "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count" {:clara-rules/dynamic-insert-types-detected [:clara.tools.graph.analyze/generated],
    :clara-rules/insert-types [:props]},
   "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count-satisfies-min" {:clara-rules/dynamic-insert-types-detected [:clara.tools.graph.analyze/generated],
    :clara-rules/insert-types [:props]},
   "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-audit-trail" {:clara-rules/dynamic-insert-types-detected [:clara.tools.graph.analyze/generated
     :memory],
    :clara-rules/insert-types [:memory]},
   "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-metadata" {:clara-rules/dynamic-insert-types-detected [:clara.tools.graph.analyze/generated
     :memory],
    :clara-rules/insert-types [:memory]},
   "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-review" {:clara-rules/dynamic-insert-types-detected [:clara.tools.graph.analyze/generated
     :memory],
    :clara-rules/insert-types [:memory]},
   "clara.server.tools.graph.rules.loan-doc-rules/extract-doc-meta-rule" {:clara-rules/dynamic-insert-types-detected [:clara.tools.graph.analyze/generated
     :memory],
    :clara-rules/insert-types [:memory]}}}}
