{:id :clara.explorer.analyze/generated,
 :source {:generated-by "clara-rules-explorer", :rule-count 2},
 :annotations {"clara.explorer.test.rules.loan-outcome-notices/notice-approved-app" {:clara-rules/insert-types [clara.explorer.test.rules.loan_outcome_notices.ApprovalNotice],
   :clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "(map->ApprovalNotice {:app-id ?app-id, :message \"Loan approved\", :notice-id (str \"approval-\" ?app-id)})",
      :ns-name-sym clara.explorer.test.rules.loan-outcome-notices,
      :filename "clara/explorer/test/rules/loan_outcome_notices.clj",
      :status :full,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.explorer.test.rules.loan-outcome-notices/notice-approved-app},
      :resolved-types [clara.explorer.test.rules.loan_outcome_notices.ApprovalNotice],
      :callsite-id "clara.explorer.test.rules.loan-outcome-notices:-:0c72538c:0"}],
    :resolution :full}},
  "clara.explorer.test.rules.loan-outcome-notices/notice-denied-app" {:clara-rules/insert-types [clara.explorer.test.rules.loan_outcome_notices.DenialNotice],
   :clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "(map->DenialNotice {:app-id ?app-id, :message \"Loan denied\", :reasons ?reasons, :notice-id (str \"denial-\" ?app-id)})",
      :ns-name-sym clara.explorer.test.rules.loan-outcome-notices,
      :filename "clara/explorer/test/rules/loan_outcome_notices.clj",
      :status :full,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.explorer.test.rules.loan-outcome-notices/notice-denied-app},
      :resolved-types [clara.explorer.test.rules.loan_outcome_notices.DenialNotice],
      :callsite-id "clara.explorer.test.rules.loan-outcome-notices:-:f9440aa0:0"}],
    :resolution :full}}}}
