node_modules
.pnpm-home
.svelte-kit
.cpcache
.lsp
**/.clj-kondo/.cache/
.nrepl-port
target
/server/demo-data/
.direnv
.envrc.local
docs/internal
ui/docs/internal

# IDEs and editors
.idea/
*.swp
*.swo
*~

# OS metadata
.DS_Store
Thumbs.db
