{"clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved-args-demo" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome",
    :constraints "[\n(= ?app-id app-id)\n\n(= status :approved)\n]",
    :args "[\n{:keys [app-id status]}\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved?" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.Application",
    :constraints "[\n(= ?app-id app-id)\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}
   {:type "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck",
    :constraints "[\n(= ?app-id app-id)\n\n(= status :pass)\n]",
    :bindings {:binding-keys [:?app-id], :new-bindings []}}
   {:type "clara.server.tools.graph.rules.loan_app_facts.IdentityCheck",
    :constraints "[\n(= ?app-id app-id)\n\n(= status :pass)\n]",
    :bindings {:binding-keys [:?app-id], :new-bindings []}}
   {:type "clara.server.tools.graph.rules.loan_app_facts.FraudCheck",
    :constraints "[\n(= ?app-id app-id)\n\n(= status :pass)\n]",
    :bindings {:binding-keys [:?app-id], :new-bindings []}}]},
 "clara.server.tools.graph.rules.loan-app-rules/app-outcome-denied?" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.Application",
    :constraints "[\n(= ?app-id app-id)\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}
   {:condition-type :not,
    :children [{:type "clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome",
      :constraints "[\n(= ?app-id app-id)\n\n(= status :approved)\n]",
      :bindings {:binding-keys [:?app-id], :new-bindings []}}],
    :bindings {:binding-keys [:?app-id], :new-bindings []}}
   {:type "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck",
    :constraints "[\n(= ?app-id app-id)\n\n(= ?doc-check-status status)\n]",
    :bindings {:binding-keys [:?app-id], :new-bindings [:?doc-check-status]}}
   {:type "clara.server.tools.graph.rules.loan_app_facts.IdentityCheck",
    :constraints "[\n(= ?app-id app-id)\n\n(= ?identity-check-status status)\n]",
    :bindings {:binding-keys [:?app-id], :new-bindings [:?identity-check-status]}}
   {:type "clara.server.tools.graph.rules.loan_app_facts.FraudCheck",
    :constraints "[\n(= ?app-id app-id)\n\n(= ?fraud-check-status status)\n]",
    :bindings {:binding-keys [:?app-id], :new-bindings [:?fraud-check-status]}}]},
 "clara.server.tools.graph.rules.loan-app-rules/app-outcome-pending?" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.Application",
    :constraints "[\n(= ?app-id app-id)\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}
   {:condition-type :not,
    :children [{:type "clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome",
      :constraints "[\n(= ?app-id app-id)\n\n(= status :approved)\n]",
      :bindings {:binding-keys [:?app-id], :new-bindings []}}],
    :bindings {:binding-keys [:?app-id], :new-bindings []}}
   {:condition-type :not,
    :children [{:type "clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome",
      :constraints "[\n(= ?app-id app-id)\n\n(= status :denied)\n]",
      :bindings {:binding-keys [:?app-id], :new-bindings []}}],
    :bindings {:binding-keys [:?app-id], :new-bindings []}}
   {:accumulator {:form "(clara.rules.accumulators/all)", :some-initial-value? true},
    :from {:type "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck",
     :constraints "[\n(= ?app-id app-id)\n]"},
    :result-binding :?doc-checks,
    :bindings {:binding-keys [:?app-id], :new-bindings []}}
   {:accumulator {:form "(clara.rules.accumulators/all)", :some-initial-value? true},
    :from {:type "clara.server.tools.graph.rules.loan_app_facts.IdentityCheck",
     :constraints "[\n(= ?app-id app-id)\n]"},
    :result-binding :?id-checks,
    :bindings {:binding-keys [:?app-id], :new-bindings []}}
   {:accumulator {:form "(clara.rules.accumulators/all)", :some-initial-value? true},
    :from {:type "clara.server.tools.graph.rules.loan_app_facts.FraudCheck",
     :constraints "[\n(= ?app-id app-id)\n]"},
    :result-binding :?fraud-checks,
    :bindings {:binding-keys [:?app-id], :new-bindings []}}]},
 "clara.server.tools.graph.rules.loan-app-rules/find-app-outcome" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome",
    :constraints "[\n(= ?app-id app-id)\n]",
    :fact-binding :?outcome,
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-doc-queries/find-document-checks" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck",
    :constraints "[\n(= ?app-id app-id)\n]",
    :fact-binding :?check,
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/app-has-all-required-docs" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.Application",
    :constraints "[\n(= ?app-id app-id)\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}
   {:type ":loan-doc-rules/document-check-input",
    :constraints "[\n(= ?app-id app-id)\n\n(= ?required-docs required-docs)\n\n(= ?given-docs given-docs)\n\n(= ?missing-required-docs missing-required-docs)\n]",
    :args "[\n{:keys [app-id required-docs given-docs missing-required-docs]}\n]",
    :bindings {:binding-keys [:?app-id],
     :new-bindings [:?given-docs :?missing-required-docs :?required-docs]}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/collect-all-missing-required-docs" {:lhs [{:type ":loan-doc-rules/document-check-input",
    :constraints "[\n(= ?app-id app-id)\n\n(= ?missing-required-docs missing-required-docs)\n\n(seq ?missing-required-docs)\n]",
    :args "[\n{:keys [app-id missing-required-docs]}\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id :?missing-required-docs]}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/collect-app-doc-check-input" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.Application",
    :constraints "[\n(= ?app-id app-id)\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}
   {:type "clara.server.tools.graph.rules.loan_app_facts.AllGivenDocuments",
    :constraints "[\n(= ?app-id app-id)\n\n(= ?given-docs docs)\n]",
    :bindings {:binding-keys [:?app-id], :new-bindings [:?given-docs]}}
   {:type "clara.server.tools.graph.rules.loan_app_facts.AllRequiredDocuments",
    :constraints "[\n(= ?app-id app-id)\n\n(= ?required-docs docs)\n]",
    :bindings {:binding-keys [:?app-id], :new-bindings [:?required-docs]}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/collect-app-given-docs" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.Application",
    :constraints "[\n(= ?app-id app-id)\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}
   {:accumulator {:form "(clara.rules.accumulators/all)", :some-initial-value? true},
    :from {:type "clara.server.tools.graph.rules.loan_app_facts.GivenDocument",
     :constraints "[\n(= ?app-id app-id)\n]"},
    :result-binding :?docs,
    :bindings {:binding-keys [:?app-id], :new-bindings []}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/collect-app-id-card-given-docs" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.Application",
    :constraints "[\n(= ?app-id app-id)\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}
   {:accumulator {:form "(clara.rules.accumulators/all)", :some-initial-value? true},
    :from {:type "clara.server.tools.graph.rules.loan_app_facts.GivenDocument",
     :constraints "[\n(= ?app-id app-id)\n\n(= doc-type :id-card)\n]"},
    :result-binding :?docs,
    :bindings {:binding-keys [:?app-id], :new-bindings []}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/collect-app-req-docs" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.Application",
    :constraints "[\n(= ?app-id app-id)\n]",
    :fact-binding :?app,
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}
   {:accumulator {:form "(clara.rules.accumulators/all)", :some-initial-value? true},
    :from {:type "clara.server.tools.graph.rules.loan_app_facts.RequiredDocument",
     :constraints "[\n(= ?app-id app-id)\n]"},
    :result-binding :?docs,
    :bindings {:binding-keys [:?app-id], :new-bindings []}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/collect-doc-meta" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.Application",
    :constraints "[\n(= ?app-id app-id)\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}
   {:accumulator {:form "(clara.rules.accumulators/all)", :some-initial-value? true},
    :from {:type "clara.server.tools.graph.rules.loan_app_facts.GivenDocument",
     :constraints "[\n(= ?app-id app-id)\n]"},
    :result-binding :?docs,
    :bindings {:binding-keys [:?app-id], :new-bindings []}}
   {:type ":extract-doc-meta",
    :constraints "[\n]",
    :fact-binding :?extract-doc-meta,
    :bindings {:binding-keys [], :new-bindings []}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count" {:lhs [{:accumulator {:form "(clara.rules.accumulators/count)",
     :some-initial-value? true},
    :from {:type "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck",
     :constraints "[\n(= ?app-id app-id)\n]"},
    :result-binding :?count,
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count-satisfies-min" {:lhs [{:type ":doc-check-count",
    :constraints "[\n(= ?count (:count this))\n]",
    :bindings {:binding-keys [], :new-bindings [:?count]}}
   {:type ":doc-check-count-min",
    :constraints "[\n(<= (:value this) ?count)\n]",
    :bindings {:binding-keys [], :new-bindings [], :join-filter-join-bindings [:?count]}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-audit-trail" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck",
    :constraints "[\n(= ?app-id app-id)\n\n(= status :pass)\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-metadata" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck",
    :constraints "[\n(= ?app-id app-id)\n\n(= status :pass)\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-review" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck",
    :constraints "[\n(= ?app-id app-id)\n\n(= status :pass)\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/dynamic-retract-stale-notice" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck",
    :constraints "[\n(= ?app-id app-id)\n\n(= status :pass)\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-doc-rules/extract-doc-meta-rule" {:lhs []},
 "clara.server.tools.graph.rules.loan-doc-rules/find-document-check" {:lhs [{:type "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck",
    :constraints "[\n(= ?app-id app-id)\n]",
    :fact-binding :?document-check,
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-outcome-notices/find-approval-notices" {:lhs [{:type "clara.server.tools.graph.rules.loan_outcome_notices.ApprovalNotice",
    :constraints "[\n(= ?app-id app-id)\n]",
    :fact-binding :?notice,
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-outcome-notices/find-denial-notices" {:lhs [{:type "clara.server.tools.graph.rules.loan_outcome_notices.DenialNotice",
    :constraints "[\n(= ?app-id app-id)\n]",
    :fact-binding :?notice,
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-outcome-notices/notice-approved-app" {:lhs [{:type ":loan-app/application-outcome",
    :constraints "[\n(= ?app-id app-id)\n\n(= status :approved)\n]",
    :args "[\n{:keys [app-id status]}\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-outcome-notices/notice-denied-app" {:lhs [{:type ":loan-app/application-outcome",
    :constraints "[\n(= ?app-id app-id)\n\n(= ?reasons failed-checks)\n\n(= status :denied)\n]",
    :args "[\n{:keys [app-id status failed-checks]}\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id :?reasons]}}]}}
