{:queries {"clara.server.tools.graph.rules.loan-app-rules/find-app-outcome" {:unit "loan-app-ruleset",
   :ns "clara.server.tools.graph.rules.loan-app-rules",
   :name "clara.server.tools.graph.rules.loan-app-rules/find-app-outcome",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"]},
  "clara.server.tools.graph.rules.loan-doc-queries/find-document-checks" {:unit "loan-app-ruleset",
   :ns "clara.server.tools.graph.rules.loan-doc-queries",
   :name "clara.server.tools.graph.rules.loan-doc-queries/find-document-checks",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"]},
  "clara.server.tools.graph.rules.loan-doc-rules/find-document-check" {:unit "loan-app-ruleset",
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/find-document-check",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"]},
  "clara.server.tools.graph.rules.loan-outcome-notices/find-approval-notices" {:unit "loan-disposition-ruleset",
   :ns "clara.server.tools.graph.rules.loan-outcome-notices",
   :name "clara.server.tools.graph.rules.loan-outcome-notices/find-approval-notices",
   :lhs-types ["clara.server.tools.graph.rules.loan_outcome_notices.ApprovalNotice"]},
  "clara.server.tools.graph.rules.loan-outcome-notices/find-denial-notices" {:unit "loan-disposition-ruleset",
   :ns "clara.server.tools.graph.rules.loan-outcome-notices",
   :name "clara.server.tools.graph.rules.loan-outcome-notices/find-denial-notices",
   :lhs-types ["clara.server.tools.graph.rules.loan_outcome_notices.DenialNotice"]}},
 :rules {"clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved-args-demo" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-app-rules",
   :name "clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved-args-demo",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"],
   :no-output-types true,
   :retract-types [],
   :insert-types [],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved?" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-app-rules",
   :name "clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved?",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"
    "clara.server.tools.graph.rules.loan_app_facts.IdentityCheck"
    "clara.server.tools.graph.rules.loan_app_facts.FraudCheck"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-app-rules/app-outcome-denied?" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-app-rules",
   :name "clara.server.tools.graph.rules.loan-app-rules/app-outcome-denied?",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"
    "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"
    "clara.server.tools.graph.rules.loan_app_facts.IdentityCheck"
    "clara.server.tools.graph.rules.loan_app_facts.FraudCheck"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-app-rules/app-outcome-pending?" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-app-rules",
   :name "clara.server.tools.graph.rules.loan-app-rules/app-outcome-pending?",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"
    "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"
    "clara.server.tools.graph.rules.loan_app_facts.IdentityCheck"
    "clara.server.tools.graph.rules.loan_app_facts.FraudCheck"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/app-has-all-required-docs" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/app-has-all-required-docs",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    ":loan-doc-rules/document-check-input"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/collect-all-missing-required-docs" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/collect-all-missing-required-docs",
   :lhs-types [":loan-doc-rules/document-check-input"],
   :no-output-types true,
   :retract-types [],
   :insert-types [],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/collect-app-doc-check-input" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/collect-app-doc-check-input",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_facts.AllGivenDocuments"
    "clara.server.tools.graph.rules.loan_app_facts.AllRequiredDocuments"],
   :retract-types [],
   :insert-types [":loan-doc-rules/document-check-input"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/collect-app-given-docs" {:unit "loan-app-ruleset",
   :source-rule true,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/collect-app-given-docs",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_facts.GivenDocument"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_facts.AllGivenDocuments"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/collect-app-id-card-given-docs" {:unit "loan-app-ruleset",
   :source-rule true,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/collect-app-id-card-given-docs",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_facts.GivenDocument"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_doc_rules.AllIdCardGivenDocuments"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/collect-app-req-docs" {:unit "loan-app-ruleset",
   :source-rule true,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/collect-app-req-docs",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_facts.RequiredDocument"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_facts.AllRequiredDocuments"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/collect-doc-meta" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/collect-doc-meta",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_facts.GivenDocument"
    ":extract-doc-meta"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_facts.AllGivenDocumentsMeta"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"],
   :retract-types [],
   :insert-types [":doc-check-count"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count-satisfies-min" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count-satisfies-min",
   :lhs-types [":doc-check-count" ":doc-check-count-min"],
   :retract-types [],
   :insert-types [":doc-check-count-satisfies-min"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-audit-trail" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-audit-trail",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_doc_rules.AuditTrail"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-metadata" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-metadata",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"],
   :retract-types [],
   :insert-types [":compliance-review-result"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-review" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-review",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_doc_rules.ComplianceReview"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/dynamic-retract-stale-notice" {:unit "loan-app-ruleset",
   :source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/dynamic-retract-stale-notice",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"],
   :retract-types ["clara.server.tools.graph.rules.loan_doc_rules.StaleDocumentNotice"],
   :insert-types [],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/extract-doc-meta-rule" {:unit "loan-app-ruleset",
   :source-rule true,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/extract-doc-meta-rule",
   :lhs-types [],
   :retract-types [],
   :insert-types [":extract-doc-meta"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-outcome-notices/notice-approved-app" {:unit "loan-disposition-ruleset",
   :source-rule true,
   :ns "clara.server.tools.graph.rules.loan-outcome-notices",
   :name "clara.server.tools.graph.rules.loan-outcome-notices/notice-approved-app",
   :lhs-types [":loan-app/application-outcome"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_outcome_notices.ApprovalNotice"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-outcome-notices/notice-denied-app" {:unit "loan-disposition-ruleset",
   :source-rule true,
   :ns "clara.server.tools.graph.rules.loan-outcome-notices",
   :name "clara.server.tools.graph.rules.loan-outcome-notices/notice-denied-app",
   :lhs-types [":loan-app/application-outcome"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_outcome_notices.DenialNotice"],
   :sink-rule true}}}
