{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        com.github.gateless/clara-rules {:mvn/version "1.6.7"}
        prismatic/schema {:mvn/version "1.4.1"}
        metosin/reitit {:mvn/version "0.10.1"}
        metosin/jsonista {:mvn/version "1.0.0"}
        metosin/muuntaja {:mvn/version "0.6.11"}
        ring/ring-jetty-adapter {:mvn/version "1.15.4"}
        org.clojure/tools.cli {:mvn/version "1.0.214"}
        clj-kondo/clj-kondo {:mvn/version "2026.05.25"}}

 :aliases
 {:lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.05.25"}}
         :main-opts ["-m" "clj-kondo.main"]}

  :test {:extra-paths ["test" "test-resources"]
         :extra-deps {ring/ring-mock {:mvn/version "0.6.2"}
                      clj-http/clj-http {:mvn/version "3.13.1"}}}

  :dev {:extra-paths ["dev" "test-resources"]
        :extra-deps {vvvvalvalval/scope-capture {:mvn/version "0.3.3"}}}

  :demo-setup {:extra-paths ["dev" "test" "test-resources"]
               :main-opts ["-m" "clara.server.graph.demo-setup"]}

  :demo-run {:extra-paths ["dev" "test" "test-resources"]
             :main-opts ["-m" "clara.server.graph.demo-run"]}

  :run-tests {:extra-paths ["test" "test-resources"]
              :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
              :main-opts ["-m" "cognitect.test-runner" "-d" "test"]}}}
