{:queries {"clara.server.tools.graph.rules.loan-outcome-notices/find-approval-notices" {:ns "clara.server.tools.graph.rules.loan-outcome-notices",
   :name "clara.server.tools.graph.rules.loan-outcome-notices/find-approval-notices",
   :lhs-types ["clara.server.tools.graph.rules.loan_outcome_notices.ApprovalNotice"]},
  "clara.server.tools.graph.rules.loan-outcome-notices/find-denial-notices" {:ns "clara.server.tools.graph.rules.loan-outcome-notices",
   :name "clara.server.tools.graph.rules.loan-outcome-notices/find-denial-notices",
   :lhs-types ["clara.server.tools.graph.rules.loan_outcome_notices.DenialNotice"]}},
 :rules {"clara.server.tools.graph.rules.loan-outcome-notices/notice-approved-app" {:source-rule true,
   :ns "clara.server.tools.graph.rules.loan-outcome-notices",
   :name "clara.server.tools.graph.rules.loan-outcome-notices/notice-approved-app",
   :lhs-types [":loan-app/application-outcome"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_outcome_notices.ApprovalNotice"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-outcome-notices/notice-denied-app" {:source-rule true,
   :ns "clara.server.tools.graph.rules.loan-outcome-notices",
   :name "clara.server.tools.graph.rules.loan-outcome-notices/notice-denied-app",
   :lhs-types [":loan-app/application-outcome"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_outcome_notices.DenialNotice"],
   :sink-rule true}}}
