{"clara.server.tools.graph.rules.loan-outcome-notices/find-approval-notices" {:lhs [{:type "clara.server.tools.graph.rules.loan_outcome_notices.ApprovalNotice",
    :constraints "[\n(= ?app-id app-id)\n]",
    :fact-binding :?notice,
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-outcome-notices/find-denial-notices" {:lhs [{:type "clara.server.tools.graph.rules.loan_outcome_notices.DenialNotice",
    :constraints "[\n(= ?app-id app-id)\n]",
    :fact-binding :?notice,
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-outcome-notices/notice-approved-app" {:lhs [{:type ":loan-app/application-outcome",
    :constraints "[\n(= ?app-id app-id)\n\n(= status :approved)\n]",
    :args "[\n{:keys [app-id status]}\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id]}}]},
 "clara.server.tools.graph.rules.loan-outcome-notices/notice-denied-app" {:lhs [{:type ":loan-app/application-outcome",
    :constraints "[\n(= ?app-id app-id)\n\n(= ?reasons failed-checks)\n\n(= status :denied)\n]",
    :args "[\n{:keys [app-id status failed-checks]}\n]",
    :bindings {:binding-keys [], :new-bindings [:?app-id :?reasons]}}]}}
