{"clara.server.tools.graph.rules.loan-outcome-notices/find-approval-notices" {:params #{"?app-id"},
  :notes nil,
  :doc nil,
  :props {}},
 "clara.server.tools.graph.rules.loan-outcome-notices/find-denial-notices" {:params #{"?app-id"},
  :notes nil,
  :doc nil,
  :props {}},
 "clara.server.tools.graph.rules.loan-outcome-notices/notice-approved-app" {:notes nil,
  :rhs-form "(do\n (r/insert!\n  (map->ApprovalNotice\n   {:app-id ?app-id, :message \"Loan approved\", :notice-id (str \"approval-\" ?app-id)})))\n",
  :doc nil,
  :props {"insert-types" ["clara.server.tools.graph.rules.loan_outcome_notices.ApprovalNotice"]}},
 "clara.server.tools.graph.rules.loan-outcome-notices/notice-denied-app" {:notes nil,
  :rhs-form "(do\n (r/insert!\n  (map->DenialNotice\n   {:app-id ?app-id, :message \"Loan denied\", :reasons ?reasons, :notice-id (str \"denial-\" ?app-id)})))\n",
  :doc nil,
  :props {"insert-types" ["clara.server.tools.graph.rules.loan_outcome_notices.DenialNotice"]}}}
