{:queries {"clara.server.tools.graph.rules.loan-app-rules/find-app-outcome" {:ns "clara.server.tools.graph.rules.loan-app-rules",
   :name "clara.server.tools.graph.rules.loan-app-rules/find-app-outcome",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"]},
  "clara.server.tools.graph.rules.loan-doc-queries/find-document-checks" {:ns "clara.server.tools.graph.rules.loan-doc-queries",
   :name "clara.server.tools.graph.rules.loan-doc-queries/find-document-checks",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"]},
  "clara.server.tools.graph.rules.loan-doc-rules/find-document-check" {:ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/find-document-check",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"]}},
 :rules {"clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved-args-demo" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-app-rules",
   :name "clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved-args-demo",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"],
   :no-output-types true,
   :retract-types [],
   :insert-types [],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved?" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-app-rules",
   :name "clara.server.tools.graph.rules.loan-app-rules/app-outcome-approved?",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"
    "clara.server.tools.graph.rules.loan_app_facts.IdentityCheck"
    "clara.server.tools.graph.rules.loan_app_facts.FraudCheck"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-app-rules/app-outcome-denied?" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-app-rules",
   :name "clara.server.tools.graph.rules.loan-app-rules/app-outcome-denied?",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"
    "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"
    "clara.server.tools.graph.rules.loan_app_facts.IdentityCheck"
    "clara.server.tools.graph.rules.loan_app_facts.FraudCheck"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-app-rules/app-outcome-pending?" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-app-rules",
   :name "clara.server.tools.graph.rules.loan-app-rules/app-outcome-pending?",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"
    "clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"
    "clara.server.tools.graph.rules.loan_app_facts.IdentityCheck"
    "clara.server.tools.graph.rules.loan_app_facts.FraudCheck"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_rules.ApplicationOutcome"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/app-has-all-required-docs" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/app-has-all-required-docs",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    ":loan-doc-rules/document-check-input"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/collect-all-missing-required-docs" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/collect-all-missing-required-docs",
   :lhs-types [":loan-doc-rules/document-check-input"],
   :no-output-types true,
   :retract-types [],
   :insert-types [],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/collect-app-doc-check-input" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/collect-app-doc-check-input",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_facts.AllGivenDocuments"
    "clara.server.tools.graph.rules.loan_app_facts.AllRequiredDocuments"],
   :retract-types [],
   :insert-types [":loan-doc-rules/document-check-input"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/collect-app-given-docs" {:source-rule true,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/collect-app-given-docs",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_facts.GivenDocument"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_facts.AllGivenDocuments"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/collect-app-id-card-given-docs" {:source-rule true,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/collect-app-id-card-given-docs",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_facts.GivenDocument"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_doc_rules.AllIdCardGivenDocuments"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/collect-app-req-docs" {:source-rule true,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/collect-app-req-docs",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_facts.RequiredDocument"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_facts.AllRequiredDocuments"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/collect-doc-meta" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/collect-doc-meta",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.Application"
    "clara.server.tools.graph.rules.loan_app_facts.GivenDocument"
    ":extract-doc-meta"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_app_facts.AllGivenDocumentsMeta"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"],
   :retract-types [],
   :insert-types [":doc-check-count"],
   :sink-rule false},
  "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count-satisfies-min" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/doc-check-count-satisfies-min",
   :lhs-types [":doc-check-count" ":doc-check-count-min"],
   :retract-types [],
   :insert-types [":doc-check-count-satisfies-min"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-audit-trail" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-audit-trail",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_doc_rules.AuditTrail"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-metadata" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-metadata",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"],
   :retract-types [],
   :insert-types [":compliance-review-result"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-review" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/dynamic-insert-compliance-review",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"],
   :retract-types [],
   :insert-types ["clara.server.tools.graph.rules.loan_doc_rules.ComplianceReview"],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/dynamic-retract-stale-notice" {:source-rule false,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/dynamic-retract-stale-notice",
   :lhs-types ["clara.server.tools.graph.rules.loan_app_facts.DocumentCheck"],
   :retract-types ["clara.server.tools.graph.rules.loan_doc_rules.StaleDocumentNotice"],
   :insert-types [],
   :sink-rule true},
  "clara.server.tools.graph.rules.loan-doc-rules/extract-doc-meta-rule" {:source-rule true,
   :ns "clara.server.tools.graph.rules.loan-doc-rules",
   :name "clara.server.tools.graph.rules.loan-doc-rules/extract-doc-meta-rule",
   :lhs-types [],
   :retract-types [],
   :insert-types [":extract-doc-meta"],
   :sink-rule false}}}
