{:layers [{:id :props, :source :rulebase}
  {:id :clara.tools.graph.analyze/generated,
   :source {:generated-by "clara-rules-explorer", :rule-count 2}}],
 :verbatim {:default nil, :except {}},
 :annotations {"clara.server.tools.graph.rules.loan-outcome-notices/notice-approved-app" {:clara-rules/insert-types [clara.server.tools.graph.rules.loan_outcome_notices.ApprovalNotice],
   :clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "(map->ApprovalNotice {:app-id ?app-id, :message \"Loan approved\", :notice-id (str \"approval-\" ?app-id)})",
      :ns-name-sym clara.server.tools.graph.rules.loan-outcome-notices,
      :filename "clara/server/tools/graph/rules/loan_outcome_notices.clj",
      :status :full,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.server.tools.graph.rules.loan-outcome-notices/notice-approved-app},
      :resolved-types [clara.server.tools.graph.rules.loan_outcome_notices.ApprovalNotice],
      :callsite-id "clara.server.tools.graph.rules.loan-outcome-notices:-:4de6d836:0",
      :from-layer :clara.tools.graph.analyze/generated}],
    :resolution :full}},
  "clara.server.tools.graph.rules.loan-outcome-notices/notice-denied-app" {:clara-rules/insert-types [clara.server.tools.graph.rules.loan_outcome_notices.DenialNotice],
   :clara-rules/dynamic-insert-types-detected {:callsites [{:source-str "(map->DenialNotice {:app-id ?app-id, :message \"Loan denied\", :reasons ?reasons, :notice-id (str \"denial-\" ?app-id)})",
      :ns-name-sym clara.server.tools.graph.rules.loan-outcome-notices,
      :filename "clara/server/tools/graph/rules/loan_outcome_notices.clj",
      :status :full,
      :via {:boundary-var-name-sym clara.rules/insert!,
       :boundary-in-var clara.server.tools.graph.rules.loan-outcome-notices/notice-denied-app},
      :resolved-types [clara.server.tools.graph.rules.loan_outcome_notices.DenialNotice],
      :callsite-id "clara.server.tools.graph.rules.loan-outcome-notices:-:d76a203a:0",
      :from-layer :clara.tools.graph.analyze/generated}],
    :resolution :full}}},
 :provenance {:verbatim {},
  :except {"clara.server.tools.graph.rules.loan-outcome-notices/notice-approved-app" {:clara-rules/dynamic-insert-types-detected [:clara.tools.graph.analyze/generated],
    :clara-rules/insert-types [:props :clara.tools.graph.analyze/generated]},
   "clara.server.tools.graph.rules.loan-outcome-notices/notice-denied-app" {:clara-rules/dynamic-insert-types-detected [:clara.tools.graph.analyze/generated],
    :clara-rules/insert-types [:props :clara.tools.graph.analyze/generated]}}}}
